.DS_Store
*.iml
.idea
target

# Work within any directory named *ignore* and not have Git track it.
ignore/

shopping-mavenproect2-dashboard-service/src/main/resources/application.properties
shopping-mavenproect2-dashboard-service/src/main/resources/hibernate.properties
shopping-mavenproect2-dashboard-service/src/main/resources/META-INF/spring-devtools.properties
